.timeline-grid {
  position: relative;
  top: 139px;
  overflow-x: auto;

  .grid-content {
    .row {
      position: relative;
      display: flex;
      height: 60px;

      // width of column representing 1-hour
      $col-width: 60px;
      $timetrack-width: $col-width * 16;
      $title-width-mobile: 180px;

      .title {
        flex: 0 0 $title-width-mobile;
        border-right: 1px solid #F7F8F9;
        padding-left: $padding-content-mobile;

        
        h3 {
          margin-top: 13px;
          font-size: 15px;
        }

        p {
          margin-top: 4px;
        }

        &.no-empty-slots {
          h3,
          p {
            color: $font-color-disabled;
          }
        }
      }

      .timetrack {
        display: flex;
        flex: 0 0 $timetrack-width;
        background: url(../img/bg-timetrack-transparent.png) repeat 30px 0;

        .slot {
          height: 58px;

          &-filled {
            background-color: rgba(213, 223, 233, 0.5);

            &.selected {
              background-color: #98A9B8;
            }
          }

          &-empty {
            background-color: transparent;
          }
          
          &-full_width {
            width: $timetrack-width;
          }

          &-quarter_width {
            width: $timetrack-width / 4;
          }
        }
      }

      .split {
        position: absolute;
        bottom: 0;
        width: $title-width-mobile + $timetrack-width;
        height: 2px;
        background-color: #F7F8F9;
      }
    }

    .row-floor {
      height: 46px;
      border-bottom: 0;

      .title,
      .timetrack {
        background-color: #F7F8F9;
      }

      .title {
        border-right: 0;

        h3 {
          margin-top: 25px;
          font-size: 11px;
          font-weight: 600;
          text-transform: uppercase;
          color: $font-color-disabled;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .timeline-grid {
    top: 118px;

    .grid-content {
      .row {
        // variables duplication tradeoff (alternative is polluting the global scope)

        // width of column representing 1-hour
        $col-width: 60px;
        $timetrack-width: $col-width * 16;
        $title-width-desktop: 245px;

        .title {
          flex: 0 0 $title-width-desktop;
          padding-left: $padding-content-desktop;
        }

        .split {
          width: $title-width-desktop + $timetrack-width;
        }
      }
    }
  }
}
