.timeline__heading {
  position: fixed;
  z-index: 1;
  top: 49px;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fff;

  .timeline__date-selector {
    border-bottom: 1px solid $color-gray-border;
    padding: 19px 16px;
    text-align: center;
  
    &__text {
      font-size: 15px;
      line-height: 18px;
      font-weight: 600;
    }
  
    &__arrow-left,
    &__arrow-right {
      position: absolute;
      top: 13px;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background:
        url(../img/icon-arrow.svg) no-repeat 44% 52%,
        $color-gray-border;
      cursor: pointer;
    }

    &__arrow-left {
      left: 16px;
    }
  
    &__arrow-right {
      right: 16px;
      transform: rotate(180deg);
    }
  }

  .timeline__times {
    display: flex;
    border-bottom: 1px solid $color-gray-border;
    padding-left: 180px;

    .timeline__hour {
      flex-shrink: 0;
      width: 60px;
      height: 32px;

      &.timeline__hour--half {
        width: 30px;
      }

      span {
        position: relative;
        top: -1px;
        display: inline-block;
        transform: translateX(-50%);
        line-height: 32px;
        font-weight: 600;
      }
    }
  }
}

.timeline {
  position: relative;
  top: 139px;

  &__grid {
    .row {
      position: relative;
      display: flex;
      height: 60px;

      // width of column representing 1-hour
      $col-width: 60px;
      $timetrack-width: $col-width * 16;
      $title-width-mobile: 180px;

      .title {
        flex: 0 0 $title-width-mobile;
        border-right: 1px solid #F7F8F9;
        padding-left: $padding-content-mobile;

        
        h3 {
          margin-top: 13px;
          font-size: 15px;
        }

        p {
          margin-top: 4px;
        }

        &.no-empty-slots {
          h3,
          p {
            color: $font-color-disabled;
          }
        }
      }

      .timetrack {
        display: flex;
        flex: 0 0 $timetrack-width;
        background: url(../img/bg-timetrack-transparent.png) repeat 30px 0;

        .slot {
          height: 58px;

          &-filled {
            background-color: rgba(213, 223, 233, 0.5);

            &.selected {
              background-color: #98A9B8;
            }
          }

          &-empty {
            background-color: transparent;
          }
          
          &-full_width {
            width: $timetrack-width;
          }

          &-quarter_width {
            width: $timetrack-width / 4;
          }
        }
      }

      .split {
        position: absolute;
        bottom: 0;
        width: $title-width-mobile + $timetrack-width;
        height: 2px;
        background-color: #F7F8F9;
      }
    }

    .row-floor {
      height: 46px;
      border-bottom: 0;

      .title,
      .timetrack {
        background-color: #F7F8F9;
      }

      .title {
        border-right: 0;

        h3 {
          margin-top: 25px;
          font-size: 11px;
          font-weight: 600;
          text-transform: uppercase;
          color: $font-color-disabled;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .timeline__heading {
    top: 71px;
    flex-direction: row;

    .timeline__date-selector {
      position: relative;
      padding: 14px $padding-content-desktop;
      flex: 0 0 245px;

      &__arrow-left,
      &__arrow-right {
        top: 11px;
        width: 24px;
        height: 24px;
        background-size: 10px 10px;
      }

      &__arrow-left {
        left: $padding-content-desktop;
      }

      &__arrow-right {
        right: $padding-content-desktop;
      }
    }

    .timeline__times {
      padding-left: 0;

      .timeline__hour {
        $height-times: 46px;
        height: $height-times;
  
        span {
          top: 0;
          line-height: $height-times;
        }
      }
    }
  }

  .timeline {
    top: 118px;

    &__grid {
      .row {
        // variables duplication tradeoff (alternative is polluting the global scope)

        // width of column representing 1-hour
        $col-width: 60px;
        $timetrack-width: $col-width * 16;
        $title-width-desktop: 245px;

        .title {
          flex: 0 0 $title-width-desktop;
          padding-left: $padding-content-desktop;
        }

        .split {
          width: $title-width-desktop + $timetrack-width;
        }
      }
    }
  }
}
