.timeline-heading {
  position: fixed;
  z-index: 1;
  top: 49px;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fff;

  .timeline__date-selector {
    border-bottom: 1px solid $color-gray-border;
    padding: 19px 16px;
    text-align: center;
  
    &__text {
      font-size: 15px;
      line-height: 18px;
      font-weight: 600;
    }
  
    &__arrow-left,
    &__arrow-right {
      position: absolute;
      top: 13px;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background:
        url(../img/icon-arrow.svg) no-repeat 44% 52%,
        $color-gray-border;
      cursor: pointer;
    }

    &__arrow-left {
      left: 16px;
    }
  
    &__arrow-right {
      right: 16px;
      transform: rotate(180deg);
    }
  }

  .timeline__times {
    position: relative;
    display: flex;
    border-bottom: 1px solid $color-gray-border;
    padding-left: 180px;

    .timeline__hour {
      flex-shrink: 0;
      width: 60px;
      height: 32px;

      &.timeline__hour--half {
        width: 30px;
      }

      span {
        position: relative;
        top: -1px;
        display: inline-block;
        transform: translateX(-50%);
        line-height: 32px;
        font-weight: 600;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .timeline-heading {
    top: 71px;
    flex-direction: row;

    .timeline__date-selector {
      position: relative;
      padding: 14px $padding-content-desktop;
      flex: 0 0 245px;

      &__arrow-left,
      &__arrow-right {
        top: 11px;
        width: 24px;
        height: 24px;
        background-size: 10px 10px;
      }

      &__arrow-left {
        left: $padding-content-desktop;
      }

      &__arrow-right {
        right: $padding-content-desktop;
      }
    }

    .timeline__times {
      padding-left: 0;

      .timeline__hour {
        $height-times: 46px;
        height: $height-times;
  
        span {
          top: 0;
          line-height: $height-times;
        }
      }
    }
  }
}
